
<div>
<%= if current_user(@conn) != nil do %>
<p>login user: <%= current_user(@conn).nickname %> </p>
<div>
 <img src="<%= current_user(@conn).avatar %>" />
</div>
<div> <h2> <a href="/auth/logout"> login out</a> </h2> </div>
<% else %>
<h2> <a href="/auth/github"> login with github </a> </h2><br/>
<h2> <a href="/auth/wechat"> login with wechat </a> </h2>
<% end %>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="http://phoenixframework.org/docs/overview">Guides</a>
      </li>
      <li>
        <a href="https://hexdocs.pm/phoenix">Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <h4>Help</h4>
    <ul>
      <li>
        <a href="http://groups.google.com/group/phoenix-talk">Mailing list</a>
      </li>
      <li>
        <a href="http://webchat.freenode.net/?channels=elixir-lang">#elixir-lang on freenode IRC</a>
      </li>
      <li>
        <a href="https://twitter.com/elixirphoenix">@elixirphoenix</a>
      </li>
    </ul>
  </div>
</div>
